.invisible {
	opacity: 0;
}

.terminate {
	display: none;
}

.alertContainer {
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10000;
}

.alertMask {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.7);
}

.alertDetails {
	width: max(50%, 300px);
	background: linear-gradient(
			to bottom right,
			rgb(255, 255, 255),
			rgba(255, 255, 255, 0.5)
		),
		rgb(255, 255, 255);
	color: rgb(173, 61, 224);
	border: 1px solid transparent;
	border-radius: 10px;
	padding: 30px 10px;
}

.alertMessage {
	padding: 20px 30px;
}

.alertMessageText {
	font-size: 20px;
	text-align: center;
}

.confirmationBox {
	padding: 5px 30px;
	max-width: 400px;
	gap: 5px;
}

.button {
	padding: 10px 30px;
	font-size: 16px;
	border-radius: 5px;
}

.accept {
	background-color: #8400ffa7;
	color: rgb(255, 255, 255);
	border: 1px solid rgb(255, 255, 255);
}

.accept:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(132, 0, 255);
}

.decline {
	background-color: transparent;
	color: rgb(132, 0, 255);
	border: 1px solid rgb(132, 0, 255);
}

.decline:hover {
	color: rgb(255, 0, 0);
	background-color: rgba(255, 0, 0, 0.37);
	border: 1px solid rgb(255, 0, 0);
}

.ok {
	color: rgb(255, 255, 255);
	background-color: rgba(132, 0, 255, 0.474);
	border: 1px solid rgb(133, 0, 255);
}

.ok:hover {
	background-color: rgb(133, 0, 255);
}

.ok:disabled {
	cursor: default !important;
	color: transparent;
	background-color: transparent;
	border-color: transparent;
}

.response {
	max-width: 400px;
	display: block;
	padding: 5px;
	font-family: inherit;
	text-align: center;
	font-size: 16px;
	color: rgb(56, 56, 56);
	font-weight: 600;
	border: 0.5px solid rgb(149, 0, 255);
	outline: none !important;
	border-radius: 5px;
}

/* -----------------Media-Queries---------------------- */
@media only screen and (max-width: 900px) and (min-width: 761px) {
	.alertDetails {
		width: 60%;
	}
}

@media only screen and (max-width: 760px) and (min-width: 481px) {
	.alertDetails {
		width: 70%;
	}
}

@media only screen and (max-width: 480px) and (min-width: 361px) {
	.alertDetails {
		width: 80%;
	}
}

@media only screen and (max-width: 360px) {
	.alertDetails {
		width: 300px;
	}
}
