:root {
    --reachBlue: rgb(0, 89, 255);
    --reachRed: rgb(255, 0, 0);
    --reachYellow: rgb(242, 255, 0);
    --reachWhite: rgb(255, 255, 255);
    --reachBlack: rgb(0, 0, 0);
    /* ----Borrowed-styles-from-cosmos.network---- */
    --black: #000;
    --trans-gray-50: rgba(0, 0, 0, 0.04);
    --gray-100: #171717;
    --gray-200: #333;
    --gray-600: #666;
    --gray-900: #e6e6e6;
    --gray-950: #f8f8fd;
    --trans-gray-100: rgba(0, 0, 0, 0.91);
    --trans-gray-200: rgba(0, 0, 0, 0.8);
    --trans-gray-600: rgba(0, 0, 0, 0.6);
    --trans-gray-800: rgba(0, 0, 0, 0.77);
    --trans-gray-900: rgba(0, 0, 0, 0.1);
    --white-100: hsla(0, 0%, 100%, 0.1);
    --white-200: hsla(0, 0%, 100%, 0.2);
    --white-300: hsla(0, 0%, 100%, 0.333);
    --white-500: hsla(0, 0%, 100%, 0.5);
    --white-800: hsla(0, 0%, 100%, 0.82);
    --white: #fff;
    --transparent: transparent;
    --success: #55f882;
    --danger: #ff4c52;
    --emeris-gradient: linear-gradient(
            94.82deg,
            #64dafb 5.18%,
            #30ffdf 36.03%,
            #fffd38 81.21%
    );
    --bg: var(--black);
    --fg: var(--gray-100);
    --title: var(--white);
    --text: var(--white-800);
    --muted: var(--white-500);
    --inactive: var(--white-300);
    --link: var(--white);
    --link-hover: var(--white-800);
    --divider: var(--white-100);
    --spacing-none: 0;
    --spacing-1: 0.25rem;
    --spacing-2: 0.375rem;
    --spacing-3: 0.5rem;
    --spacing-4: 0.75rem;
    --spacing-5: 1rem;
    --spacing-6: calc(1.0625rem + 0.58333vw);
    --spacing-7: calc(1.125rem + 1.16667vw);
    --spacing-8: calc(1.25rem + 2.33333vw);
    --spacing-9: calc(1.375rem + 3.5vw);
    --spacing-10: calc(1.625rem + 5.83333vw);
    --spacing-11: calc(1.875rem + 8.16667vw);
    --spacing-12: calc(2.375rem + 12.83333vw);
    --spacing-13: calc(2.875rem + 17.5vw);
    --font-size--1: 0.8125rem;
    --font-size-0: 1rem;
    --font-size-1: calc(1.04163rem + 0.38833vw);
    --font-size-2: calc(1.09712rem + 0.90667vw);
    --font-size-3: calc(1.17113rem + 1.5975vw);
    --font-size-4: calc(1.26963rem + 2.51667vw);
    --font-size-5: calc(1.40113rem + 3.74417vw);
    --font-size-6: calc(1.57625rem + 5.37833vw);
    --font-size-7: calc(1.80975rem + 7.5575vw);
    --font-weight-bold--1: 676;
    --font-weight-bold-0: 680;
    --font-weight-bold-1: 686;
    --font-weight-bold-2: 695;
    --font-weight-bold-3: 706;
    --font-weight-bold-4: 721;
    --font-weight-bold-5: 741;
    --font-weight-bold-6: 768;
    --font-weight-bold-7: 803;
    --font-weight-medium--1: 525;
    --font-weight-medium-0: 530;
    --font-weight-medium-1: 539;
    --font-weight-medium-2: 551;
    --font-weight-normal--1: 337;
    --font-weight-normal-0: 320;
    --font-weight-normal-1: 290;
    --font-weight-normal-2: 250;
    --font-weight-normal-3: 197;
    --elevation-1: 0px 0px 1px rgba(0, 0, 0, 0.04),
            0px 0.5px 3px rgba(0, 0, 0, 0.05), 0px 1.25px 6px rgba(0, 3, 66, 0.06);
    --elevation-1-ambient: 0px 1.25px 6px rgba(0, 3, 66, 0.06);
    --elevation-4: 0px 0px 1px rgba(0, 0, 0, 0.04),
            0px 2px 4px rgba(0, 0, 0, 0.04), 0px 5px 11px rgba(0, 3, 66, 0.07);
    --elevation-4-ambient: 0px 5px 11px rgba(0, 3, 66, 0.07);
    --elevation-8: 0px 0px 1px rgba(0, 0, 0, 0.04),
            0px 4px 8px rgba(0, 0, 0, 0.03), 0px 10px 22px rgba(0, 3, 66, 0.08);
    --elevation-8-ambient: 0px 10px 22px rgba(0, 3, 66, 0.08);
    --elevation-12: 0px 0px 1px rgba(0, 0, 0, 0.04),
            0px 6px 12px rgba(0, 0, 0, 0.02), 0px 15px 33px rgba(0, 3, 66, 0.09);
    --elevation-12-ambient: 0px 15px 33px rgba(0, 3, 66, 0.09);
    --elevation-16: 0px 0px 1px rgba(0, 0, 0, 0.04),
            0px 8px 16px rgba(0, 0, 0, 0.01), 0px 20px 44px rgba(0, 3, 66, 0.1);
    --elevation-16-ambient: 0px 20px 44px rgba(0, 3, 66, 0.1);
    --elevation-24: 0px 0px 1px rgba(0, 0, 0, 0.04),
            0px 30px 66px rgba(0, 3, 66, 0.12);
    --elevation-24-ambient: 0px 30px 66px rgba(0, 3, 66, 0.12);
    /* --------------------------------- */
}

* {
    box-sizing: border-box;
}

*:not(body) {
    transition: all 0.5s;
}

input{
    outline: none;
}

body {
    font-family: 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI',
            Roboto, 'Helvetica Neue', Arial, sans-serif !important;
    margin: 0 !important;
    padding: 0 !important;
}

button {
    cursor: pointer !important;
}

.empty{
    opacity: 1;
}

.dark {
    color: var(--reachWhite);
    background-color: var(--reachBlack);
}

.light {
    color: var(--reachBlack);
    background-color: var(--reachWhite);
}