.container {
	background-color: rgb(255, 255, 255);
	padding: 5px;
	text-align: center !important;
	border: 1px solid rgb(162, 0, 255);
	border-radius: 5px;
	margin-bottom: 5px;
	align-items: stretch !important;
}

.loanContainer {
	justify-content: space-evenly;
	align-items: center;
	min-height: inherit;
	background: linear-gradient(to bottom, transparent, var(--reachBlack)),
		url(../assets/images/contractLand.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: inherit;
	padding: 50px 10px;
}

.userDetail {
	width: 25%;
	border-radius: 5px;
	border: 0px solid #000;
	overflow: hidden;
}

.detail {
	width: 15%;
	border-left: 1px solid rgb(162, 0, 255);
}

.userPfp {
	height: 100px;
	width: 100px;
}

.username {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
}

.usernameText {
	color: #fff;
}

.bNone {
	border: none !important;
}

.lend {
	/* align-items: stretch !important; */
}

.lendBtn {
	padding: 10px;
	border-radius: 10px;
	border: 0.5px solid rgb(0, 145, 255);
	background-color: rgb(106, 0, 255);
	color: rgb(255, 255, 255);
	box-shadow: 0 5px 10px 5px rgb(122, 112, 137);
	font-weight: 700;
	font-size: 16px;
	text-overflow: ellipsis !important;
	overflow: hidden !important;
	white-space: nowrap !important;
	text-align: center;
	transition: all 0.2s;
}

.lendBtn:hover {
	background-color: rgb(49, 0, 118);
}

.d17 {
	width: 17%;
}

.d32 {
	width: 32%;
}

.header {
	/* composes: branding from './Landing.module.css'; */
	/* background: linear-gradient(
			to bottom right,
			rgb(152, 0, 223),
			rgba(0, 119, 255, 0.5)
		),
		rgb(152, 0, 223); */
	color: rgb(152, 0, 223);
	/* background-clip: text; */
	font-size: 15px;
	font-weight: 450;
	/* -webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
	background-color: rgb(255, 255, 255);
}

.asa {
	cursor: pointer;
	/* border-radius: 5px; */
	background-color: #fff;
	transition: all 0.2s !important;
}

.asa:hover {
	box-shadow: 0 0 10px 5px rgba(128, 0, 255, 0.5);
	transform: scale(1.05, 1.05);
}

@media only screen and (max-width: 900px) and (min-width: 761px) {
}
@media only screen and (max-width: 760px) and (min-width: 481px) {
	.userDetail {
		width: 32% !important;
	}
	.lend {
		width: 100% !important;
		border: none !important;
	}

	.detail:not(.lend) {
		width: 17% !important;
	}
}
@media only screen and (max-width: 480px) and (min-width: 361px) {
	.lend {
		width: 100% !important;
		border: none !important;
	}

	.userDetail + .detail {
		border: none !important;
	}

	.detail:not(.lend) {
		width: 25% !important;
	}

	.userDetail {
		width: 100% !important;
	}
}
@media only screen and (max-width: 360px) {
	.lend {
		width: 100% !important;
		border: none !important;
	}

	.detail:not(.lend) {
		width: 25% !important;
	}

	.userDetail {
		width: 100% !important;
	}
}
