.profileContainer {
	padding: 20px;
	gap: 10px;
}

.pfp {
	height: 250px;
	width: 250px;
}

.form {
	gap: 10px;
}

.input {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid rgb(153, 0, 255);
}

.btnBox {
	gap: 10px;
}

.previewBtn,
.saveBtn {
	padding: 5px 30px;
	border: 2px solid rgb(187, 0, 255);
	background: linear-gradient(
			to bottom,
			rgba(102, 0, 255, 0.471),
			rgba(0, 0, 0, 0.525)
		),
		linear-gradient(to right, rgba(0, 0, 0, 0.46), rgba(85, 0, 255, 0.471));
	color: rgb(255, 255, 255);
	font-size: 18px;
	font-weight: 700;
	border-radius: 5px;
}

.saveBtn:disabled,
.previewBtn:disabled {
	padding: 5px 30px;
	border: 2px solid rgb(210, 210, 210);
	background: linear-gradient(
			to bottom,
			rgba(224, 224, 224, 0.471),
			rgba(0, 0, 0, 0.525)
		),
		linear-gradient(to right, rgba(0, 0, 0, 0.46), rgba(224, 224, 224, 0.471));
	color: rgb(182, 182, 182);
	font-size: 18px;
	font-weight: 700;
	border-radius: 5px;
	cursor: not-allowed !important;
}
